@use "../global" as *;

.Tag {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 0.5rem;
  background-color: $accent_color;
  border-radius: $br;
  display: inline-block;
  margin: 0.5rem 0;
  color: $tx;
}
